src/test/resources/testXML/xsd/xsdResponse.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="documents">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="document">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="text" type="xs:string"/>
                            <xs:element name="dateTime" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>